
.display-membber
{
	width:500px;
	height:150px;
}


.name
{
	color: #069;
	margin-right: 5px;

}
.result
{
	position: relative;
overflow: visible;
min-height: 60px;
height: auto;
padding: 13px 0 9px 0;
background-color: #fff;
font: inherit;
font-size: 100%;
border-top:1px solid;
width: 100%;
}

.result_img{
float: left;
}
.bd {
margin-left: 68px;

}
.description {
font-size: 13px;
line-height: 17px;
color: #333;
font-weight: normal;
font-size: 12px;
}